.add-to-cart-btn {
    background: #c89b3c;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Forum';
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.add-to-cart-btn:hover {
    background: #0d2625;
    border: 3px solid #c89b3c;
}

.floating-cart {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #c89b3c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    cursor: pointer;
    z-index: 999;
}

.floating-cart i {
    font-size: 22px;
    color: white;
}

.cart-count {
    position: absolute;
    top: -4px;
    right: -4px;
    background: #b21e1e;
    color: #fff;
    font-size: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}