:root {
    --gold-crayola: hsl(38, 61%, 73%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);

    --eerie-black-1: #0d2625;
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);

    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);

    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);

    --loading-text-gradient: linear-gradient(
        90deg,
        transparent 16.66%,
        var(--smoky-black-3) 33.33% 50%,
        transparent 66.66% 75%
    );

    --gradient-1: linear-gradient(
        to top,
        hsla(0, 0%, 6%, 0.9),
        hsla(0, 0%, 0%, 0.7),
        transparent
    );

    /* TYPOGRAPHY */
    --fontFamily-forum: 'Forum', cursive;
    --fontFamily-dm_sans: 'DM Sans', sans-serif;

    /* FONT SIZES */
    --fontSize-display-1: calc(1.3rem + 6.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);

    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);

    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;

    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    /* FONT WEIGHT */
    --weight-regular: 400;
    --weight-bold: 700;

    /* LINE HEIGHT */
    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* LETTER SPACING */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;

    --section-space: 70px;

    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    --radius-24: 24px;
    --radius-circle: 50%;

    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea { 
    display: block; 
}

a {
    color: inherit;
    text-decoration: none;
}

img { 
    height: auto;
}

input,
button,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
}
 
input,
select,
textarea {
     width: 100%;
     outline: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--eerie-black-1);
    color: var(--white);
    font-family: var(--fontFamily-dm_sans);
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: hidden;
    height: 300vh;
}

body.loaded { 
    overflow: overlay; 
}

body.nav-active {
    overflow: hidden;
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gold-crayola);
    z-index: 10;
    display: grid;
    place-items: center;
    place-content: center;
    justify-content: center;
    transition: var(--transition-2);
}

.preload.loaded > * {
    transition: var(--transition-1);
}

.preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
}

.circle {
    width: 112px;
    height: 112px;
    border-radius: var(--radius-circle);
    border: 3px solid var(--white);
    border-block-start-color: var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform:rotate(1turn);
    }
}

.preload .text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px var(--eerie-black-3);
    animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

#header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 20px;
    background: #0d2625;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.36);
    z-index: 999;
    position: sticky;
    top: 0;
}

.logo {
  width: 100px;         
  height: auto;         
  object-fit: contain;   
}

#header > div:not(:first-child),
.book-btn,
#mobile {
    margin-left: auto; 
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#navbar li {
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #f3f7f0;
    transition: 0.3s ease;
    text-transform: uppercase;
}

#navbar li a:hover,
#navbar li a.active {
    color: #c89b3c;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #c89b3c;
    position: absolute;
    bottom: -4px;
    left: 10px;
}

#mobile {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

#mobile i {
    font-size: 28px;
    color: white;
}

#close {
    display: none;
}

.book-btn {
    background-color: #c89b3c;      
    color: #0d2625;                 
    padding: 12px 28px;
    border: 2px solid #c89b3c;      
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s ease;
    margin-left: 15px;
}

.book-btn:hover {
    background-color: #0d2625;      
    color: white;                   
    border-color: #c89b3c;         
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;          
    overflow: hidden;       
}

#hero h1,
#hero h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f3f7f0;
    z-index: 5;
    width: 100%;
}

#hero h1.serif {
    top: 38%;
    font-family: 'Playfair Display';
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.1;
}

#hero h2.script {
    top: 55%;
    font-family: 'Parisienne';
    font-style: italic;
    font-size: 150px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;      
    transform: translate(-50%, -50%);
    z-index: -1;            
}

@media (min-aspect-ratio: 16/9) {
    .banner video {
        width: 100%;
        height: auto;
    }
}

.delicious-section {
    width: 100%;
    padding: 80px 0;
    background: #0d2625;
    text-align: center;
    color: #fff;
    font-family: "Georgia", serif;
}

.logo-wrap {
    position: relative;
    width: 400px;
    height: 180px;
    margin: 0 auto;
}

.arc-text svg text {
    fill: #d6a85d;
    font-size: 15px;
    letter-spacing: 10px;
    font-weight: 300;
}

.icon {
    position: absolute;
    left: 50%;
    top: 72px;
    transform: translateX(-50%);
}

.icon img {
    width: 80px;
}

.delicious-section h2 {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 450;
}

.menu-section {
    background: #0d2625; 
    padding: 0px 0;
    text-align: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.menu-card {
    width: 340px;
    color: #f7f5ef;
}

.img-arch {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
    border-radius: 180px 180px 0 0; 
}

.img-arch img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arch-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 180px 180px 0 0;
    border: 2px solid #c89b3c;
    pointer-events: none;
}

.menu-card h3 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 8px;
}

.menu-card p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    opacity: 0.8;
    margin-bottom: 25px;
}

.img-arch img,
.arch-border,
.menu-card {
    transition: 0.5s ease;
}

.menu-card:hover {
    transform: translateY(-10px);
}

.menu-card:hover .img-arch img {
    transform: scale(1.07);
}

.menu-card:hover .arch-border {
    border-color: rgba(255, 215, 150, 1);
    box-shadow: 0 0 12px rgba(255, 215, 150, 0.4);
}

.arch-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 180px 180px 0 0;
    pointer-events: none;
}

.arch-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 180px 180px 0 0;
    border: 2px solid #c89b3c;
}

.arch-border::after {
    content: "";
    position: absolute;
    inset: -8px;               
    border-radius: 200px 200px 0 0;
    border: 2px solid rgba(255, 220, 150, 0.4);
}

.menu-card:hover .arch-border::before {
    border-color: rgba(255, 225, 180, 1);
    box-shadow: 0 0 10px rgba(255, 225, 180, 0.5);
}

.menu-card:hover .arch-border::after {
    border-color: rgba(255, 225, 180, 0.7);
    box-shadow: 0 0 14px rgba(255, 225, 180, 0.35);
}

.btn-menu {
    color: #c89b3c;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.btn-menu:hover {
    color: #0d2625;              
    background: #c89b3c;         
    padding: 6px 12px;           
    border-radius: 4px;
}

.our-story {
    background-color: #0d2625;
    text-align: center;
    padding: 80px 20px;
    color: #fff;
    font-family: "Forum", serif;
}

.story-subtitle {
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color:#c89b3c;
}

.story-title {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.2;
}

.story-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.story-img {
    width: 200px;
    height: 80px;
    object-fit: cover;
    border-radius: 80px; 
}

.story-highlight {
    font-size: 70px;
    font-weight: 400;
    color: #c89b3c; 
    font-family: "Forum", serif;
}

.story-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 130px;
    background: #0d2625;
    color: #fff;
}

.story-left {
    max-width: 45%;
}

.story-desc {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 40px;
}

.story-feature {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.feat-box {
    max-width: 220px;
}

.feat-icon {
    width: 90px;
    margin-bottom: 12px;
}

.story-feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #c89b3c;
}

.story-feature p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
}

.story-contact .req {
    font-size: 18px;
    margin-top: 20px;
}

.phone {
    font-size: 22px;
    color: #c89b3c;
    margin-bottom: 25px;
}

.book-table-btn {
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid #c89b3c;
    color: #c89b3c;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.3s;
}

.book-table-btn:hover {
    background: #c89b3c;
    color: #0d2625;
}

.story-right {
    max-width: 45%;
    display: flex;
    justify-content: center;
}

.arc-image-wrap {
    position: relative;
    width: 550px;
    height: 600px;
    border-radius: 230px 230px 0 0;
    overflow: hidden;
}

.arc-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.arc-border {
    position: absolute;
    inset: 18px;
    border: 2px solid #c89b3c;
    border-bottom: none;
    border-radius: 210px 210px 0 0;
    pointer-events: none;
}

.review-subtitle {
    font-size: 27px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color:#c89b3c;
    font-family: "Forum";

}

.review-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
    font-family: serif;
}

.review-box {
    width: 100%;
    height: 350px;
    border: none; 
    border-radius: 15px;
    overflow: hidden; 
}

.review-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.footer {
    position: relative;
    background-image: url("/img/gambar4.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    z-index: 0;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(
        to bottom,
        rgba(13, 38, 37, 0.99),
        rgba(13, 38, 37, 0.95),   
        rgba(13, 38, 37, 0.90),
        rgba(13, 38, 37, 0.85),
        rgba(13, 38, 37, 0.80),
        rgba(13, 38, 37, 0.75),
        rgba(13, 38, 37, 0.70),
        rgba(13, 38, 37, 0.60),
        rgba(13, 38, 37, 0.50),
        rgba(13, 38, 37, 0.40),
        rgba(13, 38, 37, 0.30),
        rgba(13, 38, 37, 0.20),
        rgba(13, 38, 37, 0)      
    );

    z-index: 1;
    pointer-events: none;
}


.footer-content,
.footer-bottom {
    position: relative;
    z-index: 2 !important; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
}

.footer-img-container {
    width: 28%;
    padding-top: 200px;
}

.footer-side-img {
    width: 80%;
    height: 350px;
    object-fit: cover;

    border-radius: 60%;
    border: 4px solid #c89b3c;
}

.footer-logo-img {
    width: 250px;
    margin: 0 auto 15px;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer-center {
    width: 38%;
    text-align: center;
}

.visit-us {
    color: #c89b3c;
    letter-spacing: 3px;
    margin-bottom: 15px;
    padding-bottom: 30px;
}

.footer-divider {
    border: none;
    border-top: 1px solid #c89b3c;
    width: 60%;
    margin: 20px auto;
}

.newsletter-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.newsletter-sub {
    opacity: 0.8;
    margin-bottom: 15px;
}

.newsletter-form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.newsletter-form input {
    padding: 10px 12px;
    width: 60%;
    border-radius: 6px;
    border: 4px solid #c89b3c;
}

.newsletter-form button {
    background-color: #c89b3c;
    border: 2px solid #c89b3c;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #0d2625;      
    color: white;                   
    border-color: #c89b3c;   
}

.footer-bottom {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.socials {
    margin: 10px 0 15px;
    display: flex;              
    justify-content: center;    
    gap: 20px;                  
}

.socials a {
    font-size: 28px;
    color: #ffffff;
    transition: 0.3s ease;
}

.socials a:hover {
    color: #c89b3c;
    transform: scale(1.2);
}

.menu-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.menu-subtitle {
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 5px;
    color: #c89b3c;
    font-family: "Forum";
}

.menu-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #ffffff;
    font-family: "serif";

}

.menu-heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #ffffff;
    font-family: "serif";
    text-align: left;
}

.menu-item {
    width: 100%;
    height: 250px;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    border: 2px solid #c89b3c;
    transition: 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-5px);
    filter: brightness(0.9);
}

.menu-category {
    margin-bottom: 40px;
}

.best-seller-img {
    width: 100%;
    height: 400px;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center;
    border-radius: 45px;
    border: 3px solid #c89b3c;
}

.best-seller-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Forum";
    color: #c89b3c;
}

.best-seller-name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: "serif";
}

.best-seller-desc {
    font-size: 15px;
    color: #c89b3c;
    margin-bottom: 150px; 
}

.best-seller-price {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    text-align: left;
}

.additional-title {
    font-size: 32px;
    font-weight: 700;
    padding: 100px;
    padding-bottom: 20px;
    font-family: "Forum";
    color: #c89b3c;
}

.additional-item {
    align-items: flex-start;
}

.additional-img {
    width: 200px;
    height: 180px;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    transition: transform 0.3s ease;  
}

.additional-img:hover {
    transform: scale(1.05);          
}

.additional-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2px;

    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 100%;
    cursor: pointer;                   
}

.additional-name:hover {
    color: #c89b3c;                     
}

.additional-price {
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
    white-space: nowrap;               
}

.additional-desc {
    font-size: 14px;
    color: #fff;
}
